body{
margin: 0;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}

.logo_class{
    position: fixed;
    top: 0px;
    left: 0px;
        
}

.logo_class img{
    height: 80px;
    width: auto;
}

.hdr{
   height: 40px;
    background-color: black;
    width: 100%;
    
}

.top_hdr_left{

float: left;

}

.top_hdr_right{
float: right;

}

.top_nav_right{
float: right;
}

.cover_section{
display: grid;
grid-template-areas: 'myArea myArea . ' 'myArea myArea . ';
height: 30vw;
gap: 10px;
margin: 10px;
}

.cover_section_item1{
    grid-area: myArea;
    overflow: hidden;
    
    background-color: purple;
}

.cover_section_item2{
    background-color: red;
    overflow: hidden;
}

.cover_section_item3{
    background-color: royalblue;
    overflow: hidden;
}

.cover_section_item1 img{
    width: 100%;
}

.cover_section_item2 img{
    width:100%;
}

.cover_section_item3 img{
    width:100%;
}


.latest_news{
    margin: 10px;
}

.latest_news_hdr{
        
    overflow: hidden;
    background-color: purple;
       
    }

.latest_news_grid{
   display: grid;
   grid-template-columns:repeat(4, 1fr);
   grid-template-rows: repeat(2,1fr);
   gap: 10px;
   margin-top: 5px;
   
}

.latest_news_item{
    
    overflow: hidden;
    background-color: pink;
}

.latest_news_item img{
    width: 100%;
   
}


.latest_funding{
    
    margin: 50px 10px 10px 10px;
    
}

.lat_fun_hdr{
    display: flex;
    
}

.lat_fun_hdr a{
    text-decoration: none;
    padding-right: 15px;
    color: orange;
}

.lat_fun_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap:10px;    
    margin-top: 10px;
}

.fund_item{
    background-color: lawngreen;
    overflow: hidden;
}

.fund_item img{
    width: 100%;
}


.nine_grid{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap:10px;    
    margin-left: 10px;
    margin-right: 10px;
    
}

.nine_grid_item{
  
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.inside_img{
    width:100%;
}


.lat_deals{
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(4, 1fr);
    gap:10px;    
    margin: 10px;
}

.lat_deals_item{
    background-color: greenyellow;
    overflow: hidden;
}

.lat_deals_item img{
    width: 100%;
}

.clr{
    clear: both;
}

.nav_bar{
    background-color: #fff;
    height: 60px;
    width: 100%;
}

footer{
    width: 100%;
    height: 17vw;
}

.footer_top{
    background-color: #131313;
    width: auto;
    height: 60%;
}

.footer_down{
  background-color: #000;
  color: #aaa;
  width: auto;
  height: 40%;
  
}

.footer_img{
   position: relative;
   display: block;
   top: 40%;
   margin: auto;
    
}

@media only screen and (max-width: 744px) 
{
   .hdr{
       display: none;
   }
}



@media only screen and (max-width: 760px) 
{

   .top_nav_left{
       display: none;
   }

   .logo_class img{
    height: 40px;
   }
  
   .cover_section{
    grid-template-areas: 'myArea' '.' '.';
   }
  
   .latest_news_grid{
    display: flex;
    flex-direction: column;
    
     
 }

 .lat_fun_hdr{
    
    grid-template-columns: 1fr;

 }

 .lat_fun_grid{
    grid-template-columns: 1fr ;
 }
 
 .nine_grid{
    grid-template-columns: 1fr;
    
}

.lat_fun_grid .last_item_none{
    display: none;
}

.lat_deals{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,1fr);
}


.latest_news_item img {
    float: left;    
    width: 20%;
    padding-right: 10px;
}

.lat_deals_item img {
    float: left;    
    width: 20%;
    padding-right: 10px;
}

}

@media only screen and (min-width: 760px) 
{
   .display_hambrgr{
       display: none;
   }
  
}

@media only screen and (min-width: 1020px) 
{
   .logo_class{
       display: none;
   }
 
}

@media only screen and (max-width: 1020px) and (min-width:761px)
{
    .cover_section{
    grid-template-areas: 'myArea myArea' '. . ';
   }
   
   .latest_news_grid{
    
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    
 }

 .lat_fun_hdr{
    
    float: left;
 }

 .lat_fun_grid{
    grid-template-columns: repeat(3, 1fr);
 }

 .nine_grid{
    grid-template-columns: repeat(2, 1fr);
    
}

.lat_fun_grid .last_item_none{
    display: none;
}

.lat_deals{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}





}

