body{
margin: 0;
}

.logo_class{
    position: fixed;
    top: 0px;
    left: 0px;
        
}

.logo_class img{
    height: 80px;
    width: auto;
}

.hdr{
   height: 40px;
    background-color: black;
    width: 100%;
    
}

.top_hdr_left{

float: left;

}

.top_hdr_right{
float: right;

}

.top_nav_right{
float: right;
}

.cover_section{
display: grid;
grid-template-areas: 'myArea myArea . ' 'myArea myArea . ';
height: 30vw;
gap: 10px;
margin: 10px;
}

.cover_section_item1{
    grid-area: myArea;
    overflow: hidden;
    
    background-color: purple;
}

.cover_section_item2{
    background-color: red;
    overflow: hidden;
}

.cover_section_item3{
    background-color: royalblue;
    overflow: hidden;
}

.cover_section_item1 img{
    width: 100%;
}

.cover_section_item2 img{
    width:100%;
}

.cover_section_item3 img{
    width:100%;
}

.latest_news{
    margin: 10px;
   
    }

.latest_news_hdr{
        
    overflow: hidden;
    background-color: purple;
       
    }

.latest_news_grid{
   display: grid;
   grid-template-columns:repeat(4, 1fr);
}

.latest_news_item{
    background-color: blue;
}


@media only screen and (max-width: 744px) 
{
   .hdr{
       display: none;
   }
}

.nav_bar{
    background-color: #fff;
    height: 60px;
    width: 100%;
}

@media only screen and (max-width: 760px) 
{

   .top_nav_left{
       display: none;
   }

   .logo_class img{
    height: 40px;
   }
  
   .cover_section{
    grid-template-areas: 'myArea' '.' '.';
   }
  
   .latest_news_grid{
    
    grid-template-columns:repeat(1, 1fr);
 }
   
}

@media only screen and (min-width: 760px) 
{
   .display_hambrgr{
       display: none;
   }
  
}

@media only screen and (min-width: 1020px) 
{
   .logo_class{
       display: none;
   }
 
}

@media only screen and (max-width: 1020px) and (min-width:761px)
{
    .cover_section{
    grid-template-areas: 'myArea myArea' '. . ';
   }
   
   .latest_news_grid{
    
    grid-template-columns:repeat(3, 1fr);
 }
}

