body{
margin: 0;
}

.no_deco{
    text-decoration: none;
}

/*top hdr*/

.top_hdr{
    display: none;
 }
 
 .top_hdr_left{
 display: none;
  
}

 .top_hdr_right{
    display: none;
 }

/*bottom hdr*/

.bottom_hdr{
    height: 51px;
     background-color: white;
     width: 100%;
     position: fixed;
    top:0px;
    left:0px;
    z-index: 1000;
    
}

.top_nav_left{
    display: none;
    
}



/*top nav right*/

.top_nav_right{
    width: 100%;
    height: 50px;
    border-bottom: lightgray solid 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    }


.top_icons{
   float: right; 
   height: 100%;
   border-left: darkgray ridge 1px;
   
  
}

.top_icons a{
    text-decoration: none;
    color: gray;
}

.display_hambrgr{
        color: red;
        padding: 15px;
        padding-top: 15px;
    }
    
.srch_icon{
        transform: scaleX(-1);
        color: lightgray;
        padding: 15px;
        padding-top: 15px;
    }

/* top left logo*/
.logo_class{
   
   position: fixed;
   top:0px;
   left:0px;
   
}

.logo_class img{
    height: 51px;
    width: auto;
}

/*Cover Section */

.cover_section{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 10px;
    margin: 10px;
    margin-top: 50px;
    
}

.overflow_hidden{
    overflow: hidden;
}

.bg_settings{
    background-repeat: no-repeat;
    background-size: cover;
    
}

.small_text{
    font-size: 13px;
}

.med_text{
    font-size: 15px;
}

.big_text{
    font-size: 20px;
}


.more_bold{
    font-weight: 700;
  
}

.med_bold{
    font-weight: 600;
    
}

.less_bold{
    font-weight: 400;
    
}

.cover_text{
    padding-left: 10px;
    padding-top: 40px;
    line-height: 25px;
    
   }

.cover_text a{
    color: white;
   }

.cover_section_item1{
   /* grid-area: myArea;*/
  background-image:linear-gradient(to bottom,  rgb(250, 246, 246, 0), rgba(2, 1, 2, 1)),
    url('images/top-car-img.jfif');

}

.cover_section_item2{
    background-image:linear-gradient(to bottom,  rgb(250, 246, 246, 0), rgba(2, 1, 2, 1)),
    url('images/christmas-tree.jfif');
  
}

.cover_section_item3{
    background-image:linear-gradient(to bottom,  rgb(250, 246, 246, 0), rgba(2, 1, 2, 1)),
    url('images/home-img.png');
}

/*latest news*/

.latest_news{
    margin: 10px;
    margin-top: 30px;
}

.news_text a{
text-decoration: none;
color: black;
}

.news_text a :hover{
    text-decoration:orangered underline;
    color: orangered;
}

.latest_news_hdr{
        
    overflow: hidden;
    color:orangered;
    display: inline;
    }

.latest_news_grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
    padding-top: 25px;
 }

 .latest_news_item{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
}

.latest_news_item img {
    display: inline;
    width: 80px;
    height:80px;
    padding-right: 10px;
}

/*latest funding*/


.latest_funding{
    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;
}

.lat_fun_grid{
    display: grid;
    grid-template-rows: repeat(4,200px); 
    row-gap:45px;    
    margin-top: 10px;
}

.fund_item{
    
    background-image: linear-gradient(to bottom,
    #ff4422 20%, 
    #ffebe7 20%, 
    #ffebe7 45%,
    #fffaf8 45%,
    #fffaf8 100% );   

    position: relative;
}


.fund_item img{
    width:60px;
    height: 60px;
    float: left;
    position: absolute;
    top: 10px;
    left:10px;
}

.lat_fun_hdr{
    position: relative;
    
}

.lat_fun_hdr a{
    text-decoration: none;
    color:orangered;
}

.lat_fun_hdr ul{
    list-style-type: none;
     position: absolute;
     
}

.color_orange{
    color:orangered;
}

.color_white{
color: white;
}

.color_black{
    color:black;
}

.color_gray{
    color: darkgray;
}

.fund_item_txt{
     
    position: absolute;
    left: 100px;
    top: 10px;
    color:black;
}

.fund_item_txt2{

    position: absolute;
    left: 10px;
    top: 100px;
    line-height: 30px;
}

.fund_item_txt3{
    position: absolute;
    left: 10px;
    top: 200px;
}

.right_padding{
    padding-right: 8px;
}

hr{
    border-width: 1px;
    border-style: outset;
    border-color:#ff4422;
    position: absolute;
    top: 180px;
    left: 10px;
    right: 10px;
    width: auto;
}



/*articles section 3x3 grid*/

.nine_section{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.nine_grid{
    display: grid;
    grid-template-rows: repeat(9,1fr);
    
}

.nine_grid_item {
   padding-top: 20px;
}

.nine_item_top{
    background-image:linear-gradient(to bottom,  rgb(250, 246, 246, 0), rgba(2, 1, 2, 1)),
    url('images/mark-zuck.png');

    box-sizing: border-box;
    height: 350px;
    width: 100%;

    position: relative;
}

.nine_item_top a{
    text-decoration: none;
    top:250px;
    left:10px;
    position: absolute;
}

.nine_item_med{
    display: flex;
    background-color: #ffebe7;
     width: 100%;
}

.nine_item_med .less_bold{
    line-height: 30px;
}

.nine_item_last{
   width: 100%;
    padding-left: 15px;
}

.nine_item_last ul{
    display: inline;
    
}

.nine_item_last li{
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: lightgray solid 1px;
}

.latest_deals{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.lat_deals_hdr div{
   display: inline;
   
}

.hdr2{
    float: right;
}



footer{
    background-image: linear-gradient(to bottom,
    #111 60%,
    #000 60%,
    #000 100% );   
    width: auto;
    height: 300px;
    color: #aaa;
    position: relative;
    
}

.footer_div1{
    
    position: absolute;
   
    text-align: center;
    
    top:20%;
   left: 15%;
   right: 15%;
    
}

.footer_div1 a{
    padding-right: 5px;
}

.footer_div3{
    position: absolute;
    top:80%;
    right:15%;
    left: 15%;
    text-align: center;
}


/* tablet version*/
@media only screen and (min-width: 768px) {

    .cover_section{

        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 10px;
    }

    .cover_section_item1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .cover_section_item2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .cover_section_item3{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .latest_news_grid{
        
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap: 12px;
        
     }

     .latest_news_item{
        flex-direction: column;
        
    }
    
    .latest_news_item img {
        
        width: 100%;
        height: auto;
        
    }

    .lat_fun_grid{
        grid-template-columns: repeat(3,1fr); 
        column-gap:12px;    
        
    }

    .last_item_hidden{
        display: none;
    }

    .nine_grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        column-gap: 15px;
        row-gap: 15px;
    }
    

/*top header*/

.bottom_hdr{
    top:35px;

}

.top_hdr{
    display: inherit;
    height: 35px;
     background-color: black;
     width: 80%;
     position: relative;
     margin-left: 180px;
     top:0;
     
 }
 
 .top_hdr_left{
    display: inherit;
 float: left;
  position: absolute;
  left: 15px;
  top: 8px;
  
  
}

.top_hdr_left a{

    padding-right: 3px;
    text-decoration: none;

}
 
 .top_hdr_right{
    display: inherit;
 float: right;
 position: absolute;
  right: 15px;
  top: 8px;
 }

 .top_hdr_right a{
    padding-right: 3px;
    text-decoration: none;

 }

.top_nav_left{
    display: inherit;
    float: left;
  position: absolute;
  margin-left: 180px;
  left: 15px;
  top: 10px;
}

.top_nav_left a{
    padding-right: 10px;
    text-decoration: none;
}

.top_icons .display_hambrgr{
    display: none;
}


 .logo_class img{
     height: 90px;
     width: auto;
 }


}

/* Desktop version*/
@media only screen and (min-width: 1024px) {
   
    .latest_news_grid{
        
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        
        
     }

     .lat_fun_grid{
        grid-template-columns: repeat(4,1fr); 
         
        
    }

    .last_item_hidden{
        display: inherit;
    }

    .nine_grid{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        
    }

    .logo_class{
   
        display: none;
        
     }

     .top_hdr{
         width: 100%;
         margin-left: 0px;
         
     }


     .top_hdr_left a{

        padding-right: 5px;
    }
         
     .top_hdr_right a{
        padding-right: 5px;
       
     }

     .top_nav_left{
         margin-left: 0px;
     }

}

/*








.cover_section{
display: grid;
grid-template-areas: 'myArea myArea . ' 'myArea myArea . ';
height: 30vw;
gap: 10px;
margin: 10px;
}

.cover_section_item1{
    grid-area: myArea;
    overflow: hidden;
    
    background-color: purple;
}



.cover_section_item1 img{
    width: 100%;
}

.cover_section_item2 img{
    width:100%;
}

.cover_section_item3 img{
    width:100%;
}

.latest_news_grid{
   display: grid;
   grid-template-columns:repeat(4, 1fr);
   grid-template-rows: repeat(2,1fr);
  
   
}

.latest_news_item img{
    width: 100%;
   
}



.lat_fun_hdr a{
    text-decoration: none;
    padding-right: 15px;
    color: orange;
}

.lat_fun_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap:10px;    
    margin-top: 10px;
}

.nine_grid{
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap:10px;    
    
    
}


.inside_img{
    width:100%;
}


.lat_deals{
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(4, 1fr);
    gap:10px;    
    margin: 10px;
}

.lat_deals_item{
    background-color: greenyellow;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.lat_deals_item img{
    width: 100%;
}

.clr{
    clear: both;
}

.nav_bar{
    background-color: #fff;
    height: 60px;
    width: 100%;
}


.the_zed_index{
    z-index: 1;
}


@media only screen and (max-width: 744px) 
{
   .hdr{
       display: none;
   }
}



@media only screen and (max-width: 760px) 
{

   .top_nav_left{
       display: none;
   }

   .logo_class img{
    height: 40px;
   }
  
   .cover_section{
    grid-template-areas: 'myArea' '.' '.';
   }
  
 

 .lat_fun_hdr{
    
    grid-template-columns: 1fr;

 }

 .lat_fun_grid{
    grid-template-columns: 1fr ;
 }
 
 

.lat_fun_grid .last_item_none{
    display: none;
}

.lat_deals{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,1fr);
}






.lat_deals_item{
    flex-direction: row;
}

.lat_deals_item img {
        
    width: 80px;
     height:80px;

    padding-right: 10px;
}

}

@media only screen and (min-width: 760px) 
{
   .display_hambrgr{
       display: none;
   }
  
}

@media only screen and (min-width: 1020px) 
{
   .logo_class{
       display: none;
   }
 
}

@media only screen and (max-width: 1020px) and (min-width:761px)
{
    .cover_section{
    grid-template-areas: 'myArea myArea' '. . ';
   }
   
   .latest_news_grid{
    
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    
 }

 .lat_fun_hdr{
    
    float: left;
 }

 .lat_fun_grid{
    grid-template-columns: repeat(3, 1fr);
 }

 .nine_grid{
    grid-template-columns: repeat(2, 1fr);
    
}

.lat_fun_grid .last_item_none{
    display: none;
}

.lat_deals{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}





}*/

